body {
    display: grid;
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh; 
    margin: 0;
    font-family: "Times New Roman", serif;
}

.page-header {
    background-color: rgb(110, 66, 34);
    text-align: center;
    padding: 20px;
}

.main-article {
    background-color: darkgray;
    padding: 20px;
}

.page-footer {
    background-color: rgb(110, 66, 34);
    text-align: center;
    padding: 10px;
}

#gambarartikel {
    float: left;
    margin: 0 15px 10px 0; 
    width: 150px;
    height: auto;
    border-radius: 5px;
}
